$light-primary-color: #fff;
$light-secondary-color: #000f18;
$light-teritary-color: #ddd;
$light-primary-bg: #ededed;
$light-primary-text: #000f18;


$dark-primary-bg: #000f18;
$dark-primary-text: white;
$dark-secondary-color: #fff;