.chat-window{
    box-sizing: border-box;
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: azure;
    max-height: calc(100% - 150px);
    overflow-y: auto;
    overflow-x: hidden;

    .chat-window-div{
        width: 80%;
        height: 100%;
        overflow-y: auto;
        padding: 10px;
    }
    .chat-search-div{
        display: flex;
        justify-content: center;
        width: 100%;
        position: absolute;
        bottom: 20px;
        .search-div{
            width: 80%;
            display: flex;
            justify-content: center;
        }
        .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded{
            border-radius: 30px; 
        }
    }
}

.message-div{
    border-radius: 20px;
    background-color: #1d67d6;
}

.query-response-pair{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 0px 30px;
    .query{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        .query-div{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 15px;
        }
    }
    .response{
        display: flex;
        align-items: center;
        gap: 10px;
        .response-div{
            background-color: transparent;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 15px 25px;
            gap: 15px;
            position: relative;
            .single-response{
                /* padding: 10px; */
                border-radius: 12px;
                /* background: #000f18; */
                margin-bottom: 10px;
                p {
                    margin: 5px 0px;
                }
                a {
                    color: rgb(67, 142, 228);
                }
            }
            .copy-popover{
                visibility: hidden;
                width: fit-content;
                position: absolute;
                right: 0px;
                bottom: -15px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                /* background-color: rgba(29, 103, 214, 0.2); */
                border-radius: 3px;
                padding: 3px 6px;
                .MuiSvgIcon-root{
                    color: rgb(255, 255, 255);
                    font-size: 18px;
                }
                span{
                    font-size: 14px;
                }
            }
            .copy-popover:hover{
                cursor: pointer;
            }
        }
        .response-div:hover .copy-popover{
                visibility: visible;
        }
    }
}
