.summary-popover{
    max-height: 300px;
    min-width: 200px;
    max-width: 300px;
    background-color: #103a55;
    border-radius: 6px;
    padding: 12px 8px;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}