.search-div{
    form.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded{
        width:100%;
        border-radius: 12px;
        padding: 4px 8px;
        background-color: #e7e7e7;
        .MuiOutlinedInput-root{
            border-radius: 22px;
            width: fit-content;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: rgb(31, 31, 31);
            border-color: rgb(44, 44, 44);
            .MuiSelect-select{
                padding: 5px 25px 5px 10px;
            }
            svg{
                right: 0px;
                top: 7px;
                width: 20px;
                height: 20px;
            }
            fieldset{
                border-color: rgb(37, 37, 37);
            }
        }
        .search-bar{
            color: rgb(31, 31, 31);
        }
        .MuiSvgIcon-root{
            color: rgb(22, 22, 22);
        }
        .MuiSvgIcon-root:hover{
            cursor: pointer;
        }
    }
    .recommended-div{
        padding-top: 5%;
        display: flex;
        max-width: 100%;
        justify-content: space-evenly;
        button{
            border: none;
            padding: 6px 10px;
            background-color: #1d67d6;
            color: white;
            border-radius: 12px;
            max-width: 31%;
        }
    }
}
.search-bar-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.query-ask-select{
    border-radius: 6px !important;
    border: 1px solid #071924;
    ul{
        padding: 4px 0px;
        display: flex;
        flex-direction: column;
        background-color: #103a55 !important;
        li{
            color: white;
            padding: 6px 10px;
        }
        li:hover{
            background-color: #0d2e42;
            cursor: pointer;
        }
        li.Mui-selected{
            background-color: #103a55 !important;
        }
        li.Mui-selected:hover{
            background-color: #0d2e42 !important;
        }
    }
}

.dark-mode{
    .search-div{
        form.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded{
            background-color: #103a55;
            .MuiOutlinedInput-root{
                color: white;
                border-color: white;
                fieldset{
                    border-color: white;
                }
            }
            .search-bar{
                color: white;
            }
            .MuiSvgIcon-root{
                color: white;
            }
        }
        .recommended-div{
            button{
                background-color: #1d67d6;
                color: white;
            }
        }
    }
}
